<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700|PT+Sans:400,700|Roboto:400,500,700&amp;subset=latin-ext" rel="stylesheet">
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <%= video_tag(
              'hdd.mp4',
              id: 'background',
              autoplay: true,
              loop: true,
              muted: true,
              poster: 'hdd.png'
            )
          %>

          <%= render "shared/application_nav" %>
          <%= yield %>
          <%= render "shared/application_footer" %>
          <%= alerts %>
        </div>
      </div>
    </div>
  </body>
</html>
