<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
  	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="My Ruby on Rails development portfolio website. You can find here blog with advanced features such as live comments and markdown editor, portfolio app with drag and drop functionality and image upload, and Twitter feed page of my account." />
    <meta name="author" content="Jiří Čech" />

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&amp;subset=latin-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet" />
    <meta name="keywords" content="<%= @seo_keywords %>" />
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/blog_nav' %>
    <%= render 'shared/blog_masthead' %>
    <div class="container">
      <div class="row">
        <%= yield %>
        <%= render 'shared/blog_sidebar' %>
      </div>
      <%= render 'shared/blog_footer' %>
      <%= alerts %>
    </div>
  </body>
</html>
